.about {
    background: linear-gradient(150deg, #810181, #2948d3, black);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

/* Container */
.about-container {
    width: 80%;
    margin: auto;
    padding-top: 90px;
}

/* Heading */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}

/* Paragraph */
p {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

/* Sub Headding */
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 30px;
}

ul.unorder {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

/* Company Logo Images */
.logo-img{
    background-color: #e6a9e6;
    gap: 30px;
    padding-top: 20px;
    margin-top: 40px;
}

/* Mobile View */
@media (max-width: 600px) {

    .about-container {
        width: 95%;
        padding-top: 50px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
        padding-top: 20px;
    }

    p {
        font-size: 16px;
        text-align: left;
    }

    ul.unorder {
        font-size: 16px;
    }

    .logo-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        gap: 20px;
    }
}

/* Tablet View*/
@media (max-width: 900px) {

    .about-container {
        width: 90%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    p, ul.unorder {
        font-size: 17px;
    }

    .logo-img {
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 20px;
    }
}

/*Desktop screens */
@media (min-width: 1400px) {
    .about-container {
        width: 70%;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    p, ul.unorder {
        font-size: 20px;
    }
}
