.pro-footer {
    width: 100%;
    background: linear-gradient(360deg, #2f1850, #4e007d, #1a005a);
    color: white;
    padding: 50px 0 20px;
    margin-top: 0px;
    font-family: "Poppins", sans-serif;
}

.footer-wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 45px;
}

.footer-section {
    min-width: 220px;
}

.footer-section h3 {
    font-size: 24px;
    color: #76c7ff;
    margin-bottom: 12px;
}

.footer-section h4 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #76c7ff;
}

.footer-section p {
    color: #d4e6ff;
    font-size: 15px;
    line-height: 22px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    background: none;
}

.footer-section ul li {
    margin: 8px 0;
    background: none;
}

.footer-section ul li a {
    text-decoration: none;
    color: #d4e6ff;
    font-size: 15px;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #76c7ff;
    padding-left: 5px;
}

.footer-social {
    display: flex;
    gap: 18px;
    margin-top: 10px;
}

.footer-social a {
    font-size: 22px;
    color: white;
    transition: 0.3s ease;
}

.footer-social a:hover {
    color: #76c7ff;
    transform: scale(1.18);
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
    padding-left: 500px;
    border-top: 1px solid #ffffff33;
    font-size: 14px;
    color: #cfe3ff;
}

/* Mobile Responsive */
@media (max-width: 600px) {

    .footer-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 35px;
    }

    .footer-section h3 {
        font-size: 22px;
    }

    .footer-section h4 {
        font-size: 18px;
    }

    .footer-social {
        justify-content: center;
    }
    .footer-bottom {
        padding-left: 50px;
    }
}

/*  Tablet Responsive */
@media (max-width: 900px) {
    .footer-wrapper {
        justify-content: center;
        gap: 40px;
    }
    .footer-bottom {
        padding-left: 130px;
    }
}

/* Large Screen */
@media (min-width: 1400px) {
    .footer-wrapper {
        width: 70%;
    }

    .footer-section h3,
    .footer-section h4 {
        font-size: 26px;
    }

    .footer-section p {
        font-size: 16px;
    }

    .footer-social a {
        font-size: 24px;
    }
    .footer-bottom {
        padding-left: 300px;
    }
}